<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="/css/style.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
  body
    span=message
    div#box(class='someBox' onclick='alert("click")')
      p hello #{user} 
    input#nameBox(type="text", name="name")