<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/login.css")
    script(src="js/login.js")
    script(src="js/request.js")
    title step-birds
  body
    div#login-box
      img#logo(src="assets/logo.jpg", alt="step-birds")
      h2 step-birds
      form(action="/loginUser", method="get")
        input#login-button(type="submit", value="login")
      
