head
  link(rel="stylesheet", href="/css/profile.css")
  link(rel="stylesheet", href="/css/reply.css")
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' rel='stylesheet')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    type="text/javascript")

  include commonPart.pug
  include mixins/rightSide.pug
  include mixins/showHashTag.pug
  include mixins/tweetTemplate.pug

  script(src="/js/reply.js")

  body(onload=`main(${tweet && tweet.id})`)
#content-box
  #header()
      a(href=`/user/home`)
        i(class="fas fa-arrow-left fa-2x back-arrow")
      span Tweet
  #tweets
    +tweetTemplate({tweet, reference})
+rightSide