#container {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.userId {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.userId span {
  font-weight: 500;
  font-size: 1.5vw;
}

.homeIcon img {
  height: 40px;
  width: 40px;
  margin-top: 1vw;
}

.profilePart {
  display: flex;
}

.optionsButton {
  cursor: pointer;
}
