#container {
  border: 0.1vw solid black;
  height: 84vw;
  width: 98vw;
  display: flex;
  font-family: sans-serif;
  position: absolute;
}

#tweetPart {
  border: 0.1vw solid black;
  height: 100%;
  width: 75%;
}
#header {
  border-bottom: 0.1vw solid black;
  height: 7%;
  width: 100%;
}
#tweetBLog {
  border-bottom: 0.1vw solid black;
  height: 12%;
  width: 100%;
  display: flex;
}
#tweets {
  /* border: 0.1vw solid black; */
  height: 81%;
  width: 100%;
  overflow: scroll;
}

#header > span {
  font-weight: bold;
  font-size: 2vw;
  margin: 1vw;
}

#tweetBox {
  margin-top: 30px;
  margin-left: 50px;
}

#tweetBox > input {
  width: 50vw;
  height: 5vw;
  font-size: 2.2vw;
  margin: 0;
}

#tweetButton > button {
  height: 3vw;
  width: 7vw;
  font-size: 1.5vw;
}

#tweetButton {
  margin-top: 52px;
  margin-left: 50px;
  height: 20px;
  width: 30px;
}

.tweet {
  height: 20%;
  width: 100%;
  border-bottom: 0.1vw solid black;
}

.userId {
  display: flex;
  margin: 0;
}

.content {
  font-weight: lighter;
  font-size: 1.5vw;
  margin-left: 5vw;
}

.userId span {
  font-weight: bold;
  font-size: 2vw;
}

.userId img {
  height: 40px;
  width: 40px;
  margin-top: 1vw;
  margin-left: 1vw;
}

.homeIcon img {
  height: 40px;
  width: 40px;
  margin-top: 1vw;
}

.userName {
  margin: 1vw;
  margin-bottom: 0vw;
}
