body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  font-family: sans-serif;
  text-align: center;
}

#login-box {
  margin-top: 5%;
  height: 60%;
  width: 25%;
  border-radius: 4px;
  background-color: white;
}

#logo {
  height: 35%;
  margin: 16% 0% 0% 0%;
  border-radius: 50%;
  border: solid 0.5px white;
} 

h2 {
  margin: 14% 0% 0% 0%;
  font-weight: 100;
}

#login-button {
  margin: 18% 0% 0% 0%;
  border: none;
  padding: 1rem 2rem;
  background: #1da1f2;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  height: 10%;
  width: 60%;
  text-align: center;
  border-radius: 2px;
}
