#option-bar {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid lightgray;
  height: 6%;
}

#profile-icon {
  height: 25%;
}

#user-options input {
  background-color: white;
  border: solid 3px #4a61c8;
  outline: none;
  color: #4a61c8;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition-duration: 0.2s;
}

#user-options > input:hover {
  color: white;
  background-color: #4a61c8;
}

#profile-pic {
  height: 70%;
  margin: 2% 0% 0% 4%;
  border-radius: 50%;
  border: solid 0.5px white;
}

#tweets,
#replies,
#likes {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tweet {
  height: 50%;
}

#user-panel {
  display: flex;
  justify-content: space-between;
}

#user-info {
  margin-left: 2%;
}

#user-options {
  margin-right: 2%;
}

#editor {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 2%;
}

#edit-panel {
  height: 54vh;
  width: 30vw;
  margin: auto;
  margin-top: 10vw;
  border-radius: 12px;
  background: white;
  padding: 2%;
}

#editor-header {
  display: flex;
  height: 9%;
  justify-content: space-between;
  margin-bottom: 4%;
}

#close {
  width: 10%;
  cursor: pointer;
  margin-top: 2.4%;
}

#heading {
  width: 40%;
  margin: 1%;  
}

#save-button {
  width: 17%;
  border-radius: 50px;
  background: #4a61c8;
  border: none;
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
  outline: none;
}

#user-profile {
  height: 30%;
}

/* #user-profile > span {
  border-radius: 50%;
} */

.edit-details {
  height: 15%;
  display: grid;
  background-color: rgb(245, 248, 250);
  border-bottom: 2px solid rgb(101, 119, 135);
  padding: 2%;
  margin-bottom: 10%;
}

.edit-details span {
  color: rgb(101, 119, 135);
  margin-bottom: 2%;
}

.edit-details > textarea {
  text-decoration: none;
  border: none;
  background-color: rgb(245, 248, 250);
  font-size: x-large;
  font-weight: 300;
}
/* 
#edit-bio {
  height: 40%;
}

#edit-bio textarea {
  text-decoration: none;
  height: 100%;
  width: 100%;
} */

#user-profile img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
} 

#profile-name {
  font-size: x-large;
}

#profile-id {
  color: gray;
}

.follow-tags:hover {
  cursor: pointer;
  color: #4a61c8;
}

#user-tweets {
  width: 30%;
  cursor: pointer;
}

#user-tweets-and-replies {
  width: 40%;
  cursor: pointer;
}

#user-likes {
  width: 30%;
  cursor: pointer;
}

#option1,
#option2,
#option3 {
  font-size: larger;
  text-align: center;
  margin-top: 4%;
}

.indicator {
  border-bottom: solid 2px #4a61c8;
}

.like-count > span {
  cursor: pointer;
}

.like-count > span:hover {
  border-bottom: 0.5px solid gray;
}
