.suggestion {
  display: flex;
  height: 10%;
  width: 100%;
  margin: 2% 0% 0% 2%;
  cursor: pointer;
  border-bottom: solid 1px lightgrey;
}

.suggestion > span {
  color: #4a61c8;
  margin: 0 auto;
}

.suggestion > img {
  border-radius: 50%;
  height: 60%;
}

.suggestion > p {
  color: rgb(135, 132, 132);
  margin: 4.5% 0% 0% 1%;
}

.suggestion > h3 {
  margin: 3.5% 0% 0% 1%;
  font-weight: 500;
}

#followers {
  margin: 0%;
}

#header > a {
  font-size: 0.8vw;
  margin: 2%;
}

#header > span {
  font-weight: 500;
  font-size: 2vw;
  margin: 1vw;
}
