#box {
  height: 100px;
  width: 100px;
  background-color: black;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background-color: whitesmoke;
}

#logo {
  height: 10%;
  margin: 2% 0% 0% 20%;
  border: solid 0.5px white;
}

#search-box {
  height: 60%;
  width: 80%;
  border-radius: 50px;
  padding-left: 16px;
  font-size: larger;
  outline: none;
  color: #4b4a4a;
}

.icon {
  margin-top: 12%;
  margin-right: 6%;
  margin-left: 2%;
}

.rapper {
  display: flex;
  width: 50%;
  height: 60%;
  padding-bottom: 10%;
  padding-left: 4%;
  cursor: pointer;
}

.svg-icon {
  fill: black;
}

.rapper:hover {
  color: #8296ec;
  fill: #8296ec;
  border-radius: 50px;
  background-color: gainsboro;
}

.sideBarElements {
  margin: 0% 0% 6% 20%;
  font-weight: bold;
  display: flex;
  height: 8%;
}

#home {
  color: #4a61c8;
  font-weight: bolder;
}

#sideBar {
  height: 100%;
  width: 25%;
  background-color: white;
  border-right: solid 0.5px lightgray;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
}
